.equip-div {
    height: auto;
}

hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}

@font-face {
    font-family: futura_bt_bold;
    src: url(ufonts.com_futurabt-bold-opentype.otf) format("opentype");
}

.nav-text {
    font-family: futura_bt_bold !important;
}

.navbar {
    font-family: futura_bt_bold !important;
}

.hashtags {
    height: 20px;
    bottom: 50px;
    text-align: center;
}

.navbar-brand {
    color: #F7F700 !important;
    font-size: 30px;
}

.centeredImage {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

h2 {
    color: #202A25;
    margin-left: 50px !important;
}

h3{
    background-color: #00223f;
    color: white;
    padding: 5px 15px;
    font-size: 15px;
}
h1,h2,h3,h4{
    font-family: futura_bt_bold;
    margin: 0;
}

.navbar.navbar-inverse {
    background-color: #31d8c8 !important;
    border: none;
}

.panel-default > .panel-heading {
    color: white;
    font: 15px 'futura_bt_bold'
}

.panel-default > .panel-footer {
    font: 15px 'futura_bt_bold';
    text-align: left;
}

.panel-default > .panel-body {
    text-align: center;
}

.bluebg{
    background-color: #00E6E6;
}

.blackfont{
    color:black;
}
.modal-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

body{
    background-image: url("http://38.media.tumblr.com/tumblr_m9amnpN9vz1rdwlp0o1_500.gif");
}

.filter-body{
    padding: 0 15px;
}

.filter-sidebar{
    width: 200px;
    margin: 0px 0px 0px 50px;
    padding: 0
}

div.right{
    position:absolute;
    right: 50px;
    height: 500px;
}

.filter-header>a :hover{
    color: #00E6E6;
}

.eyeball-sm {
    height: 9%;
    width: 9%;
    vertical-align: middle;
}
.dynamic{
    max-width: 90%;
    height: auto;
    width: auto;
}

.nopadding-right {
    padding-right: 0 !important;
    margin: 0 !important;
}

.nopadding-top {
    padding-top: 0 !important;
    margin: 0 !important;
}