.equip-div {
    height: auto;
}

hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}

@font-face {
    font-family: futura_bt_bold;
    src: url(ufonts.com_futurabt-bold-opentype.otf) format("opentype");
}

.nav-text {
    font-family: futura_bt_bold !important;
}

.navbar {
    font-family: futura_bt_bold !important;
}

.hashtags {
    height: 20px;
    bottom: 50px;
    text-align: center;
}

.navbar-brand {
    color: #F7F700 !important;
    font-size: 30px;
}

.centeredImage {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

h1 {
    font-size: 40px;
    /*margin-left: 20px !important;*/
}

h2 {
    color: #202A25;
    /* margin-left: 50px !important; */
}

h3 {
    background-color: #00223f;
    color: white;
    padding: 5px 15px;
    font-size: 15px;
}

h1, h2, h3, h4 {
    font-family: futura_bt_bold;
    margin: 0;
}

.navbar.navbar-inverse {
    background-color: #31d8c8 !important;
    border: none;
}

.panel-default > .panel-heading {
    color: white;
    font: 15px 'futura_bt_bold'
}

.panel-default > .panel-footer {
    font: 15px 'futura_bt_bold';
    text-align: left;
}

.panel-default > .panel-body {
    text-align: center;
}

.bluebg {
    background-color: #00E6E6;
}

.whitebg {
    background-color: #fffffff;
}

.blackfont {
    color: black;
}

.modal-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

body {
    background-image: url("http://38.media.tumblr.com/tumblr_m9amnpN9vz1rdwlp0o1_500.gif");
}

.filter-body {
    padding: 0 15px;
}

.filter-sidebar {
    width: 200px;
    margin: 0px 0px 0px 50px;
    padding: 0
}

div.right {
    position: absolute;
    right: 50px;
}

.filter-header > a :hover {
    color: #00E6E6;
}

.s-9 {
    height: 9%;
    width: 9%;
    vertical-align: middle;
}

.s-10 {
    height: 10%;
    width: 10%;
    vertical-align: middle;
}

.dynamic {
    max-width: 90%;
    height: auto;
    width: auto;
}

.nopadding-right {
    padding-right: 0 !important;
    margin: 0 !important;
}

.nopadding-top {
    padding-top: 0 !important;
    margin: 0 !important;
}

th {
    background-color: #00223f;
    color: whitesmoke;
}

ul li {
    display: inline-block;
    position: relative;
    line-height: 21px;
    text-align: center;
}

ul li a {
    color: white;
}

ul li a:hover {
    color: #000000;
    background: #00E6E6;
}

ul li ul.dropdown {
    width: 200px; /* Set width of the dropdown */
    background: #00E6E6;
    display: none;
    position: absolute;
    z-index: 999;
    left: -45px;
    padding: 5px 15px;
    font-size: 15px;
}

ul li:hover ul.dropdown {
    display: block; /* Display the dropdown */
}

ul li ul.dropdown li {
    display: block;
}

.usable-image {
    height: 32px;
}

.borderedImg > img {
    border: 5px solid #e6e6e6;
    padding: 2px

}

.inline-block {
    display: inline-block;
    vertical-align: middle;
}

table.scroll tbody,
table.scroll thead {
    display: block;
    border: none;
}

table.scroll tbody {
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
}

table.scroll tbody tr td:first-child,
table.scroll thead tr th:first-child {
    width: 15%;
}

table.scroll tbody tr td:nth-child(2),
table.scroll thead tr th:nth-child(2) {
    width: 45%;
}

table.scroll tbody tr td:last-child,
table.scroll thead tr th:last-child {
    width: 25%;
}

table.scroll tbody {
    max-height: 142px;
}

table.scroll thead {
    background-color: #00223f;
}

.table thead > tr > th {
    vertical-align: bottom;
    border-bottom: 0px solid hsl(0, 0%, 87%);
}

.table thead > tr > th, .table tbody > tr > th,
.table tfoot > tr > th, .table thead > tr > td,
.table tbody > tr > td, .table tfoot > tr > td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #ddd
}