.equip-div{
    height : auto;
}

hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}

@font-face {
    font-family: futura_bt_bold;
    src: url(ufonts.com_futurabt-bold-opentype.otf) format("opentype");
}

.nav-text {
    font-family: futura_bt_bold !important;
}

.navbar {
    font-family: futura_bt_bold !important;
}
.hashtags {
    height: 20px;
    bottom: 50px;
    text-align: center;
}
.navbar-brand{
    color: #ffffff !important;
}

.centeredImage
{
    text-align: center;
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;
}

h2{
    font-family: futura_bt_bold;
}

.navbar{
    background-color: #31d8c8 !important;
}